<%- include('../../header.ejs') %>
<%- include('../../navbar.ejs') %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Criar nota tarefa</h2>
        </div>
        <div class="card-body">
            <form action="/admin/tarefas/save" method="POST">
                <input type="hidden" name="listaId" value="<%= lista.id %>">
                <input type="text" class="form-control" name="titulo" placeholder="Titulo da tarefa"><br>
                <textarea type="text" class="form-control" name="descricao" placeholder="descrição da tarefa"></textarea><br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
    <br>
</div>
<%- include('../../footer.ejs') %>