<nav class="navbar navbar-dark bg-primary">
    <div class="container">
       <a href="/" class="navbar-brand">Home</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="/admin/empresas">Empresas</a>
            </li>
        </ul> 
    </div>
</nav>