<%- include('../../header.ejs') %>
<%- include('../../navbar.ejs') %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Criar nova lista</h2>
        </div>
        <div class="card-body">
            <form action="/admin/listas/save" method="POST">
                <input type="text" class="form-control" name="titulo" placeholder="Titulo da lista"><br>
                <input type="text" class="form-control" name="responsavel" placeholder="Nome do responsavel"><br>
                <input type="text" class="form-control" name="status" placeholder="Grau de urgencia"><br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
    <br>
</div>
<%- include('../../footer.ejs') %>